Take some lap time data from Ergast, bring the nested json into pandas as a DataFrame and perform some analysis

In [58]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize
import requests

## Load in the result for the first lap

In [70]:
result = pd.read_json('http://ergast.com/api/f1/current/last/laps.json?limit=2000')

In [71]:
result.head()

                                                      MRData
RaceTable  {'season': '2019', 'round': '5', 'Races': [{'s...
limit                                                   2000
offset                                                     0
series                                                    f1
total                                                   1274

## Normalise the json, drilling into the nesting to get the positions and times from lap 1

In [72]:
Laps = json_normalize(result['MRData']['RaceTable']['Races'][0]['Laps'])

In [73]:
Laps.head()

                                             Timings number
0  [{'driverId': 'hamilton', 'position': '1', 'ti...      1
1  [{'driverId': 'hamilton', 'position': '1', 'ti...      2
2  [{'driverId': 'hamilton', 'position': '1', 'ti...      3
3  [{'driverId': 'hamilton', 'position': '1', 'ti...      4
4  [{'driverId': 'hamilton', 'position': '1', 'ti...      5